body {
  background-color: $red;
}

.reveal {
  font-family: 'Text', Helvetica, Arial, sans-serif;
  color: $white;
  font-size: 1.6rem;
  line-height: 1.5rem;

  strong {
    font-family: 'TextBold';
  }

  // Links
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $green;
    }
  }

  // Paragraphs
  p {
    line-height: 2rem;
  }

  // Lists
  ul, ol {
    line-height: 2rem;
  }

}

