// Displaying a full page demo
.demo--video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.demo--video__shown {
  display: block;
}

.reveal {
  .marvel-wikipedia-api--logo {
    display: block;
    height: 150px;
    margin-bottom: 20px;
  }

  .marvel-scraping--logo {
    display: block;
    width: 100%;
    img {
      max-height: 250px;
    }
  }


  // A square block of color, to explain that we found a color per hero
  .marvel-color {
    font-family: 'Code';
    line-height: 300px;
    font-size: 3rem;
    display: inline-block;
    height: 300px;
    width: 300px;
  }

  // List of all logos of tools used in the demo
  .marvel-building-blocks--logos {
    display: flex;
    flex-flow: row wrap;
  }
  .marvel-building-blocks--logo {
    flex: 1 0 33%;
    align-self: center;
    img {
      max-height: 250px;
    }
  }

  // Instantsearch
  .marvel-instantsearch--title {
    margin: 0;
  }
  .marvel-instantsearch--logo {
    width: 100%;
  }

  // Cloudinary
  .marvel-cloudinary--image {
    position: relative;
    &:after {
      font-family: 'Code';
      position: absolute;
      bottom: 15px;
      right: 25px;
      content: attr(data-text);
    }
  }
}
