// Titles
@font-face {
  font-family: 'Title';
  src: url('./fonts/PalookaBold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TitleBold';
  src: url('./fonts/PalookaRegular.otf');
  font-weight: normal;
  font-style: normal;
}

// Text
@font-face {
  font-family: 'Text';
  src: url('./fonts/CrimeRegular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TextBold';
  src: url('./fonts/CrimeBold.ttf');
  font-weight: bold;
  font-style: normal;
}

// Code
@font-face {
  font-family: 'Code';
  src: url('./fonts/DejaVuSansMono.eot');
  src: url('./fonts/DejaVuSansMono.eot?#iefix') format('embedded-opentype'),
       url('./fonts/DejaVuSansMono.woff') format('woff'),
       url('./fonts/DejaVuSansMono.ttf') format('truetype'),
       url('./fonts/DejaVuSansMono.svg#dejavu_sans_monobook') format('svg');
  font-weight: normal;
  font-style: normal;
}
