/* Grid */
.reveal {
  // If you need columns, wrap them in .row, and define each of them with
  // .column.
  // Add either .two-columns or .three-columns to the .row to define the number
  // of columns
  // <div class="row two-columns">
  //   <div class="column"></div>
  //   <div class="column"></div>
  // </div>
  //
  // OR
  //
  // <div class="row three-columns">
  //   <div class="column"></div>
  //   <div class="column"></div>
  //   <div class="column"></div>
  // </div>
  .row {
    display: table;
    width: 100%;
    .column {
      display: table-cell;
      overflow: hidden;
      pre {
        white-space: pre-wrap;
      }
    }
    &.two-columns .column {
      width: 50%;
      &:first-child {
        padding-right: 10px;
      }
      &:last-child {
      }
    }
    &.three-columns .column {
      width: 33%;
    }
  }
}

