include ./partials/config.pug
include ./partials/mixins.pug
doctype html
html(lang="en")
  head
    title=talk_title
    meta(name="description" content=talk_description)
    meta(name="author" content=talk_author)
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', type='text/css', href='./main.css')
    link(rel='shortcut icon', href='./favicon.ico')
    <!--[if lt IE 9]>
      script(src='./js/html5shiv.js')
    <![endif]-->
  body
    .reveal.js-root
      img.js-demo.dn.absolute.top-0.left-0.w-100.h-100(data-src="./img/screencast.gif", style="max-height: 100%")
      a.js-link.fixed.top-0.right-1.mt1.z-5.link.white.text-shadow.hack.f8(target="_blank", href="https://community.algolia.com/marvel-search/")
        |https://community.algolia.com/marvel-search/

      .slides.white.crime.text-shadow-1

        // Intro
        include ./slides/home.pug
        include ./slides/who-am-i.pug

        // Demo
        include ./slides/demo.pug
        include ./slides/toc.pug
        include ./slides/api.pug

        // Getting the data
        include ./slides/getting-data.pug
        include ./slides/source-websites.pug
        include ./slides/api-wikipedia.pug
        include ./slides/api-marvel.pug
        include ./slides/scraping.pug

        // SaaS
        include ./slides/transforming-data.pug
        include ./slides/saas.pug
        include ./slides/algolia.pug
        include ./slides/cloudinary.pug
        include ./slides/serverless.pug

        // Conclusion
        include ./slides/conclusion.pug
        include ./slides/questions.pug

  script(src='./js/zepto.min.js')
  script(src='./js/head.min.js')
  script(src='./js/reveal.js')
  script(src='./app.js')
  script require('javascripts/app').default.init()

