section(data-background-color='#5F87AF')
  h3.mb2
    img.h1(src="./img/algolia.svg")

  .flex-row-nowrap.h4
    .flex-auto.w-66

      .f4.palooka
        |Search instantly in
        .gold.b your data

      ul.list.f7.lh-copy.mt2
        li Fast
        li Relevant
        li Typo-tolerant
        li Plurals
        li Synonyms
        li Highlight
        li Filters
        li [...]

    .flex-auto.w-33
      img(src="./img/algolia-autocomplete.gif")

