section
  h3.mb2
    img.h1(src="./img/algolia.png")

  .flex-row-nowrap.h4
    .flex-auto.w-66
      .palooka.f4 Instant Search API

      .f6.mt2
        |Search instantly in
        .gold.b your data

      ul.list.mt2.f6
        li 1. Push your data
        li 2. Configure
        li 3. Search

    .flex-auto.w-33
      img(src="./img/algolia-autocomplete.gif")
      // img.h2(src="./img/algolia-steps.png")

  // Search as a service
  // envoie donnée, permet de rechercher dedans très vite
