section
  h3.f3.mb1.palooka 
    |Wikipedia 
    .di.gold API 

  .bg-near-black.hack.no-text-shadow.pl1.f7.mb1 
    |http://dbpedia.org/data/
    .di.gold Hulk_(comics)
    |.json

  .flex-row-nowrap.items-center
    .flex-auto.w-66.flex.justify-center
      img(src="./img/infobox.png")
    .flex-auto.w-33
      pre.bg-near-black.pa1.f8.no-text-shadow.hack.prewrap
        code.language-js
         |{
         |  "abstract": [
         |   {
         |     "lang": "en",
         |     "value": "Hulk is a fictional character, a superhero […]"
         |   }
         |  ],
         |  "aliases": [
         |   {
         |     "lang": "en",
         |     "value": "Robert Bruce Banner, Joe Fixit, War, World-Breaker, Doc Green"
         |   }
         |  ]
         |}
