section
  h3.f3.mb1.palooka 
    |Marvel 
    .di.gold API 

  .bg-near-black.hack.no-text-shadow.pl1.f7.mb1 
    |http://gateway.marvel.com/v1/public/characters/
    .di.gold 1009351

  .flex-row-nowrap
    .flex-auto.w-50.tc
      img(src="./img/hulk.png")
    .flex-auto.w-50.ml2
      img.dib.mt1(src="./img/hulk-thumbnail.jpg")
      pre.bg-near-black.pa1.f8.no-text-shadow
        code.language-js.prewrap
         |{
         |  "name": "Hulk",
         |  "thumbnail": "www.marvel.com/538615ca33ab0.jpg",
         |  "description": 
         |    "Caught in a gamma bomb explosion while trying to save the life of a teenager, [...]",
         |}
