section
  h3.f3.mb3.palooka Cloudinary

  .flex-row-nowrap.h4
    .flex-auto.w-66

      .f4.palooka
        |Apply effects on
        .gold.b your images

      ul.list.f7.lh-copy.mt2
        li Compress
        li Resize
        li Black & White
        li Blur
        li Crop
        li Face recognition
        li [...]


    .flex-auto.w-33.lh-0.tc
      img.db.center(data-text="1920x840px, 92KB", src="./img/deadpool-base.gif")
      .dib.lh-copy.bg-near-black.hack.ph1.f8.no-text-shadow 1920x840px, 92KB
      img.db.mt1.center(data-text="1920x840px, 92KB", src="./img/deadpool-cloudinary.gif")
      .dib.lh-copy.bg-near-black.hack.ph1.f8.no-text-shadow 450x197px, 26KB
