section(data-background="./img/background-conclusion.jpg")
  h3.f3.palooka Conclusion

  .flex-row-nowrap.h4.palooka.f6.flex-vcenter
    .flex-auto.w-50
      |APIs can be used to 
      .crime.b.green.tc get 
        .di.gold data
    .flex-auto.w-50
      |but also to
      .crime.b.purple.tc transform 
        .di.gold data
  .palooka.f3.tc
    |Use them and build stuff.

