section
  .flex-row-nowrap.h4.debg.items-center
    .flex-auto.w-50.palooka.f2.small-caps
      .db.mb3
        .di.gold S
        |oftware 
      .db.mb3
        .di.gold a
        |s 
      .db.mb3
        .di.gold a 
      .db
        .di.gold S
        |ervice

    .flex-auto.w-50.ml2.flex-column-nowrap.items-center
      img.mb4.h2(src="./img/algolia.svg")
      img.h3(src="./img/cloudinary.png")
