section
  h3.f3.mb2.palooka.small-caps
    |SaaS = 
    .di.gold S
    |oftware 
    .di.gold a
    |s 
    .di.gold a 
    .di.gold S
    |ervice

  .flex-row-nowrap.h4.debg.items-center
    .flex-auto.w-50
      .palooka.f6.mt2
        |APIs can be used to 
        .crime.b.green.tc.mb2 read 
          .di.gold data
        |but also to
        .crime.b.purple.tc transform 
          .di.gold data

    .flex-auto.w-50.ml2.flex-column-nowrap.items-center
      img.mb2.h2(src="./img/algolia.png")
      img.h3(src="./img/cloudinary.png")
