section
  h3.f3.mb0.palooka Serverless

  .f5
    .flex-row-nowrap.flex-center
      .flex-auto.w-50
        .palooka Hosting
        .f7 
          .di.green.b Free 
          |if public
      .flex-auto.w-50.lh-0.flex.flex-hcenter
        img.h3(src='./img/github.png')
    .flex-row-nowrap.flex-center
      .flex-auto.w-50
        .palooka Search
        .f7 
          .di.green.b Free 
          |up to 10k records
      .flex-auto.w-50.lh-0.flex.flex-center.pa1
        img.h2(src='./img/algolia-dark.svg')
    .flex-row-nowrap.flex-center
      .flex-auto.w-50
        .palooka Images
        .f7 
          .di.green.b Free 
          |up to 7k images
      .flex-auto.w-50.lh-0.flex.flex-center
        img.h3(src='./img/cloudinary.png')
