section
  h3.f3.mb3.palooka
    .di.green Getting 
    |the data

  .flex-row-nowrap.items-center.lh-copy.small-caps.f4.h4
    .flex-auto.w-50.flex.justify-center
      a(href="https://en.wikipedia.org/")
        img.db(src="./img/wikipedia-logo.png", alt="Wikipedia")
    .flex-auto.w-50.flex.justify-center
      a(href="https://www.marvel.com/")
        img.db(src="./img/marvel-logo.png", alt="Marvel")

