
// // Several sources
// section.slide--vertical
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b Several sources
//     .fla.flcnw.flccv
//       | Get data from several sources. Varying quality, and merge them
//       | Do one script per source and store a JSON of the result
//       | Only at the end, merge everything. Define fallbacks
//       | Commit the results in git (order the keys), easier to see the diff and see if you broke something
//
