section

  .flex-row-nowrap.tc.lh-copy.small-caps.f4
    .flex-auto 
      .db.bg-white.transparent.no-text-shadow.br-100.h1.w1.center.palooka.f6.shadow-3 1
      .mt2 
        .green Getting 
          .di.gold data
        | from an 
        .di.gold API
    .flex-auto 
      .db.bg-white.transparent.no-text-shadow.br-100.h1.w1.center.palooka.f6.shadow-3 2
      .mt2 
        .purple Using 
          .di.gold data
        | with an 
        .di.gold API
