section
  h3.f2.mb3.palooka Paul-Louis Nech

  .flex.flex-row.flex-wrap
    .flex.flex-auto.w-50.f4.h3.justify-center.items-center
      ="@PLNech"
    .flex.flex-auto.w-50.h3.items-center.justify-center
      img.h2(src='./img/algolia.svg', alt='Algolia')